.cuadro{
    height: 200px;
    opacity: 0.5;
    transition: opacity 500ms;
}

#cuadro-1{
    background-color: blue;
}
#cuadro-2{
    background-color: yellow;
}
#cuadro-3{
    background-color: red;
}
#cuadro-4{
    background-color: green;
}