h1{
    background-color: rgb(94, 167, 46);
    border-radius:  10px;
    text-align: center;
}


button {
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    color: rgb(11, 88, 30); 
}

button:hover {
    background-color: rgb(5, 124, 59);
}

label{
    text-align: center;
    background-color: rgb(25, 87, 51);
    border-radius: 10px;
}
div{
    text-align: center;
    background-color: rgb(179, 240, 179);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
#boton-enviar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.oculto{
    display: none;
}   
.error{
    border:2px solid red;
    background-color: rgb(252, 75, 75); 
}